:root {
    --principal: #1867c0;
    --principal_hover: #40a5f7;
    --principal_transparent: #2a99f3c2;
    --secundario: #ffff00;
    --secundario2: #e7d803;
    --secundario_hover: #e4e400;
    --fondo_app: #f2f2f2;
    --correcto: #d2e7c9;
    --transparente: #000000bd;
    --secundarion_transparente: #a14609d0;
    --progress: #4b5563;
}

html {
    overflow-y: scroll;
    overflow-y: overlay;
    min-height: 100vh;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
}

/* MIS ESTILOS */
.contenedor_opciones {
    width: 100%;
    border: solid 1px;
}

.bg-cancelado {
    background-color: rgb(159, 247, 166);
}
tr.bg-cancelado {
    border-bottom: solid 2px;
}

body .btn-primary,
body .badge-primary,
body .bg-primary,
body li a.bg-primary,
body a.bg-primary,
body li a.bg-primary,
body a.bg-primary,
body .pagination .page-item.active .page-link,
body .main-sidebar .sidebar .nav .nav-link.active {
    background-color: var(--principal);
}

/* MODAL */

.modal.show {
    background-color: rgba(0, 0, 0, 0.5);
}

/* SWAL */

.swal2-confirm.swal2-styled.swal2-default-outline,
.swal2-cancel.swal2-styled {
    color: white;
}

/* TABLES */
body table.table.mitabla thead {
    background-color: var(--principal);
    color: white;
}

body table.table.mitabla thead tr th .accion {
    color: white;
    opacity: 50%;
}

body table.table.mitabla thead tr th .accion.active {
    color: white;
    opacity: 100%;
}

body table.table tbody tr td .btn.accion_icon {
    width: 37px;
    margin: 1px;
}

body table.table tbody tr td {
    vertical-align: middle;
}

/* MODIFICAICÓN ESTILOS ADMINLTE */
.modal-title {
    font-weight: bold;
    font-size: 1.4rem;
}

body label {
    margin-bottom: 0px;
}

.error.invalid-feedback {
    margin-top: 0px;
}

body input,
body select,
body textarea,
body input.form-control,
body select.form-control,
body select.form-select,
body textarea.form-control {
    font-size: 0.8rem;
}

body table thead tr th,
body table tbody tr td {
    font-size: 0.76rem;
}

body a,
body a.btn,
body button,
body button.btn {
    font-size: 0.82rem;
}

body .input-group button.btn {
    font-size: 1rem;
}

body a:focus,
body button:focus,
body a:active,
body button:active {
    box-shadow: none;
}

body .content ul li a:focus,
body .content ul li button:focus,
body .content ul li a:active,
body .content ul li button:active {
    box-shadow: none;
}
