table thead tr th:hover i {
    opacity: 0.9 !important;
}

table thead tr th,
table tbody tr td {
    font-size: 0.9rem;
}

table tbody tr td > button.accion_icon {
    width: 43px!important;
    text-align: center;
}

table tbody tr {
    transition: all 0.2s;
}

@media screen and (max-width: 960px) {
}
